extends layout

block content
  h1 Welcome to Contact Express!
  p.welcome Overview, this lab is a simple demonstration of CRUD operations instantiated through a Node JS Express application. For the intent of this application all data is stored within a file and not a cloud or local hosted database. All changes are stored in a native JSON file. To get started testing the application just click the button below and do as you please!
  a.link(href='/temp') View Contacts Database
