extends layout

block content
  h1= title
  p Use this form to add data.
  hr
  if msg
    ul
      each val in msg
        li(class='readText')= val.msg
  form(method='POST', action='/temp/add')
    label Text:
      input(type='text', name='tempText')
    | 
    label Phone Number:
      input(type='text', name='tempPhone')
    | 
    button(type='submit') Add Data
    | 
    a(href='/temp') Cancel