extends layout

block content
  h1= title
  hr
  p.add Use this form to add data.
  hr
  if msg
    ul
      each val in msg
        li(class='readText')= val.msg
  form(method='POST', action='/temp/add')
    label First Name:
      input(type='text', name='tempFirst', required)

    label Last Name:
      input(type='text', name='tempLast', required)

    label Email:
      input(type='text', name='tempEmail')

    label Comments/Notes:
      input(type='textarea', name='tempNote')

    button(type='submit') Add Contact

    a.cancel(href='/temp') Cancel