extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/temp/add') Add Data
  hr
  if temp.length > 0
    #temp-wrapper
      ul.temp-list
        each val in temp
          li(data-tempId=val.id)
            a(href=`/temp/${val.id}`)= val.text